* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .projects,
  .contacts{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  h2 {
    font-size:5vw; /* Use vw (viewport width) for font size */
    text-decoration: underline;
  }
  
  .projects {
    background-image: #242424;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .contacts {
    background: image #a8a6a6;;
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  
.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }
  
  .project-box {
    text-align: center;
    width: 30%; /* Adjust the width as needed */
    margin: 10px;
  }
  
  .project-image {
    width: 100%; /* Set a fixed width for the images */
    height: auto;
  }


  .projects-header {
    text-align: center;
    font-size: 90px; /* Adjusting the font size as needed */
    font-weight: bold;
    margin-top: 20 px;
    text-decoration: underline;
  }


.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #088395;
    padding: 6.5%; /* Use percentage for padding */
  }
  
   


  h3 {
    font-size: 10vw; /* Use vw (viewport width) for font size */
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    margin: 7%; /* Use percentage for margin */
  }
  
  /* Make the icons large and black */
  .social-icon svg {
    font-size: 15vw; /* Use vw for font size */
    color: rgb(255, 255, 255);
  }
  
  